/* IMPOSTAZIONI GENERALI */

body {
  font-family: Poppins, sans-serif;
  background-image: url(../img/sfondo.png);
  background-position: center;
  margin-right: 0px;
  padding: 10px;
  line-height: 2em;
}

/* HEADER */

header {
  text-align: center;
  background-color: rgb(34, 115, 236);
  text-transform: uppercase;
  margin-bottom: 10px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

.gost {
  font-size: 1em;
  color: grey;
  margin-bottom: 0.5em;
}

/* MAIN */

main {
  background-color: aliceblue;
  padding: 10px;
}

span {
  color: violet;
}

div,
table {
  margin-bottom: 1em;
}

ol,
ul {
  margin-left: 2em;
}

ul > li > code {
  background-color: lightgrey;
  border: solid grey;
  border-radius: 10px;
}

table {
  font-style: italic;
  width: 460px;
  text-align: center;
  border-bottom: solid 2px rgb(88, 136, 232);
}

table > thead {
  background-color: rgb(88, 136, 232);
}

tbody > tr {
  background-color: ;
  border-bottom: solid 1px lightgrey;
}

iframe {
  border-radius: 20px;
  width: 460px;
  height: 230px;
  margin-top: 1em;
}

.cantainer {
  background-color: lightgrey;
  padding: 1em;
}

.data {
  text-align: right;
}

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
footer {
  text-align: center;
  background-color: rgb(34, 115, 236);
}
